
 #howMuch{
	 display: block;
	 text-align: center;
	 margin: auto;
 }
 .noMoney{	 
	text-align:center;
	 margin:auto;
 }
 #noMoney{
	 font-weight:bold;
	 font-style: italic;
	 font-size: 150%;
	 color: red;
 }

 table{
	 font-family: Cosmic Sans MS, cursive;
	 font-size: 12px;
 }
#table1{
	background-color: WhiteSmoke;
	padding: 0 20px 20px 20px;
	margin: auto;
	height:200px;
	width:300px;
	
}
#playButton{
	width: 200px;
	height:60px;
	font-family: Comsmic Sans MS, cursive;
	margin-top: 20px;
}
#table1 th , #table1 td{
	border: 1px solid white;
	height: 50px;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 20px;
}
caption{
	font-family: Arial, sans serif;
	font-weight: bold;
	font-size: 200%;
}
#results caption{
	background-color: WhiteSmoke;
	padding: 10px;
	text-decoration: underline;		
}
#table1 th{
	background-color: LightGrey;
	padding 10px;
}

