header		{font-family: Cosmic Sans MS, cursive, sans-serif; text-align: center; width: 100%;
			background-color: maroon; color: gold; margin: 0 auto;
			}

footer		{font-family: Cosmic Sans MS, cursive, sans-serif; background-color: teal;
			 bottom: 0; width: 100%; text-align: center; position: fixed; height:100px;
			}

a			{
		text-decoration: underline;
}

a:link		{
		color: gold;
}

a:visited	{
		color: white;
}

a:hover		{
		font-weight: bold;
}

a:active	{
		text-decoration: none;
}

body		{
		background-color: DodgerBlue;
		margin:auto ;
		padding:0 ;
		height: 100%;
		magin-bottom: 10%;
		padding-bottom:100px;
		
		
}

.carousel2 {
    color:black;
    
    text-align:center;
}

#carousel1{
  width: 100%;
  height: auto;
  padding: 50px;
}

#nosc{
	background-color: white;
	color: red;
}